@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url(/images/background.jpg) ;background-size:cover;">
    <div class="text-center">
        <h1 class="display-4">Property selling.</h1>
        <p>Buy and sell online.</p>
        <a class="gto-button" asp-area="" asp-controller="Offers" asp-action="Index">Go to offers</a>
    </div>
</body>
